<div class="grid-x" style="">
    <div class="cell small-offset-1 small-10 medium-offset-5 medium-2 large-offset-5 large-2" data-selector="downloadResume" style="color:white; display: flex; justify-content: center; align-items: center;  font-family: monospace; font-size: 25px; cursor: pointer; border-color: white; border: solid 2px; border-radius: 10px;">
        Download
    </div>
</div>