
<div class="grid-x">
    <div class="cell medium-offset-2 medium-8 large-offset-2 large-8 content">
        <div class="grid-x profileName">
            <div class=" small-12 medium-offset-2 medium-8 large-offset-2 large-8">
                <div class="grid-x">
                    <div class="cell small-3 medium-3 large-3 profile">
                        <img id="profileImage" src="~/images/profile.jpg" />
                    </div>
                    <div class="cell small-9 medium-9 large-9 name">
                        <h1> Connor Wilson</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x description">
            <p>Hi, I'm Connor Wilson! I'm actively seeking new opportunities in Software Development. Since 2018 I have a worked as in C# .NET Web Developer for a small tech startup (<a href="https://web.asignio.com">Asignio</a>) specializing in passwordless multi-factor authentication. I hold a Bachelors Degree in Computer Science and Minor in Mathematics from Oregon State University. 
            <p>Currently I would prefer an in-person or hybrid role. I have worked remotely the past 4 years and would like to be back in the office at least a day or two a week. I want to be apart of a team where I can collaborate in person and interact with my coworkers face to face.</p>
            <p>In my free time I enjoy being outside whether it be running, hiking, climbing, or cycling.</p>
            <p>If you think I would be a good fit, contact me at one of the following to discuss employment opportunities:</p>
        </div>
        <div class="grid-x contact">
            <div class="cell small-12 medium-3 large-3 contactInfo">
                <div class="tooltip-container">
                    <p data-selector="phoneNumber" class="tooltip-target">
                        360-610-3373
                        <span class="tooltip">Copy Phone Number</span>
                    </p>
                </div>
            </div>
            <div class=" cell small-12 medium-6 large-6 contactInfo">
                <div class="tooltip-container">
                    <p data-selector="email" class="tooltip-target">
                        connor.wilson48@gmail.com
                        <span class="tooltip">Copy Email</span>
                    </p>
                </div>
            </div>
            <div class="cell small-12 medium-3 large-3 contactInfo">
                <div data-selector="linkedIn" id="linkedIn" style="display: inline-block"><i class="fa-brands fa-linkedin"></i> &nbsp;LinkedIn</div>
            </div>
        </div>
    </div>    
</div>

<div class="grid-x resumeDiv">
     <div data-selector="resume" class="cell small-12 medium-12 large-12 centered-div download-resume">
           View My Resume
     </div>
</div>