@model IndexViewModel;

 <div id="intro" >
     <div id="introContent">
        <div class="grid-x">
            <div class="cell small-12 medium-offset-1 medium-6  large-offset-1 large-6" style="margin-bottom: 20px;">
                <h1 class="lilita-one-regular alignCenter title" style="">Connor Wilson</h1>
                <h1 class="lilita-one-regular alignCenter title" style="color:white;"> Software Developer</h1>
                <div class="grid-x contact">
                    <div class="contactInfo" style="">
                        <div class="tooltip-container">
                            <p data-selector="phoneNumber" class="tooltip-target">
                                360-610-3373
                                <span class="tooltip">Copy Phone Number</span>
                            </p>
                        </div>
                    </div>
                    <div class="contactInfo">
                        <div class="tooltip-container">
                            <p data-selector="email" class="tooltip-target">
                                connor.wilson48@gmail.com
                                <span class="tooltip">Copy Email</span>
                            </p>
                        </div>
                    </div>
                    <div class="contactInfo">
                        <div data-selector="linkedIn" id="linkedIn" style="display: inline-block"><i class="fa-brands fa-linkedin"></i> &nbsp;LinkedIn</div>
                    </div>
                    <div class="contactInfo small-margin-top">
                        <div class="link" data-selector="github" id="github" style="display: inline-block"><i data-selector="github" class="fa-brands fa-github "></i> &nbsp;Github</div>
                    </div>                  
                </div>

            </div>
        </div>
     </div>
    
    
    <div class="grid-x show-for-small-only" data-selector="downButton" id="downButton">
            <i class="fa-solid fa-angle-down"></i>
    </div>
    
 </div>

 <div class="grid-x screenHeight" id="why">
    <div class="cell small-12 medium-6 large-6" style="text-align: center"><h1 class="lilita-one-regular">About Me</h1></div>
     <div class="cell small-12 medium-6 large-6" id="whyText">
        <p>I have worked as a C# .NET Core Web Developer for a small tech startup (<a href="https://web.asignio.com" target="_blank">Asignio</a>) specializing in passwordless multi-factor authentication since 2018. I hold a Bachelors Degree in Computer Science and Minor in Mathematics from Oregon State University.</p>
        <p>Since leaving my role at Asignio in July of 2024, I’ve been actively keeping my programming skills sharp by working on personal projects, tackling interview practice questions, and following YouTube tutorials. This combination has allowed me to stay current with evolving technologies while honing my problem-solving and coding abilities. Right now I am specifically learning React.</p>
        <p>In my free time I like exercising outside whether it be running, biking, or hiking. I also enjoy trying new coffee shops and learning spanish. I currently have a <span class="link linkStyle" data-selector="duolingo" id="DuoLingo">@Model.DuoLingoStreak</span> day streak on Duolingo.</p>
    </div>

 </div>

 <div class="grid-x screenHeight" id="contact">
    <div class="cell small-12 show-for-small-only" style="text-align: center;"><h1 class="lilita-one-regular ">Contact Me</h1></div>
    <div class="cell small-12 medium-6 large-6">
        <div class="text-center" id="successMessage" style=" display: none; margin-top: 20px;">
            <p>Thank you for your inquiry. I'll reach out to you soon.</p>

        </div>
        <form id="myForm">
            <div class="form-group">
                <label for="name" class="formLabel">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label class="formLabel" for="email" >Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label class="formLabel" for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone">
            </div>
            <div class="form-group">
                <label class="formLabel" for="message">Message</label>
                <textarea id="message" name="message" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <button id="submitContact" class="formLabel" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="cell small-12 medium-6 large-6 hidden-on-small" style="text-align: center;"><h1 class="lilita-one-regular ">Contact Me</h1></div>
 </div>


 <div id="about" style="">
    <h1 class="lilita-one-regular" style="color: white; text-align: center; ">Resume</h1>
    <!--@await Html.PartialAsync("~/Views/Shared/_DownloadResumeButton.cshtml")-->
    <div class="grid-x" style="">
        

        <div class="cell small-12 medium-offset-3 medium-6 large-offset-3 large-6" style="margin-bottom: 20px;">
            

            <div id="Experience">
                <div class="grid-x">

                    <div class="cell medium-10">
                        <h3 class="sectionHeader lilita-one-regular">Work Experience</h3>

                    </div>
                    <!--<div class="medium-2 down-arrow">
                        <i id="experienceDown" class="fa-solid fa-angle-down"></i>
                    </div> -->
                </div>

                <div id="experienceDiv2">
                    <!--Asignio-->
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/asignio_logo.jpg" />
                            </div>
                            <div class="cell small-6 medium-8 large-7">
                                <p class="role">Full Stack Software Developer - <a href="https://web.asignio.com" target="_blank">Asignio</a>, Remote Worker</p>

                            </div>
                            <div class="cell small-4 medium-3 large-4 date" style="text-align:right;">
                                September 2021 - July 2024
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-11 medium-11 large-11">
                                <ul class="companyDescription">
                                    <li>Passwordless multi-factor authentication startup</li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-10  medium-10 large-10">
                                <ul>
                                    <li>Implemented HTTP requests using <span class="C#">C#</span> and <span class=".NET">.NET Core</span> MVC framework to facilitate communication between client-side and server-side components of the web application.</li>
                                    <li>Developed responsive web applications allowing for compatibility for a range of users, devices, and screen sizes using Razor, <span class="CSS">CSS</span> Foundation, <span class="AJAX">AJAX</span>, <span class="JSON">JSON</span> and <span class="jQuery">jQuery</span>. </li>
                                    <li>Created and maintained <span class=".NET">.NET Core</span> microservices to improve user notifications.</li>
                                    <li>
                                        Managed and oversaw QA testing deployments by implementing structured QA processes and coordinating
                                        testing efforts with developers to ensure seamless production integration and maintain software reliability.
                                    </li>
                                    <li>Wrote <span class="SQL">SQL</span> queries for reading, writing, and updating user data efficiently.</li>
                                    <li>Enhanced marketing site using <span class="jQuery">jQuery</span> and <span class="CSS">CSS</span> Foundation framework.</li>
                                    <li>Built and managed reusable <span class="JavaScript">JavaScript</span> libraries to ensure consistent functionality across various projects.</li>
                                </ul>

                            </div>

                        </div>

                    </div>


                    <!--WWOOF-->
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/wwoofusa_logo.jpg" />
                            </div>
                            <div class="cell small-6 medium-8 large-7">
                                <p class="role">Farmer - <a href="https://wwoof.net/" target="_blank">WWOOF</a>, Captain Cook, Hawaii</p>
                            </div>
                            <div class="cell small-4 medium-3 large-4 date" style="text-align:right;">
                                September 2022 - December 2022
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-11 medium-11 large-11">
                                <ul class="companyDescription">
                                    <li>Nonprofit cultural and education program focused on sustainable agriculture</li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-10 medium-10 large-10">
                                <ul>
                                    <li>Worked part time on an off-grid coffee and fruit farm while working as a software developer remotely.</li>
                                    <li>Helped harvest, maintain, and start a variety of crops using multiple tools and techniques.</li>
                                    <li>Collaborated with other workers to set goals for the day and ensured all tasks were completed in a timely manner.</li>
                                </ul>
                            </div>

                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-10 medium-10 large-10" style="display: flex; justify-content: space-around; flex-wrap: wrap;">
                                <img style="max-height: 300px; margin-bottom: 10px;" src="~/images/wwoof-me.jpg" />
                                <img style="max-height: 300px;" src="~/images/wwoof-farm.jpg" />
                            </div>
                         
                        </div>
                    </div>



                    <!--Asignio-->
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/asignio_logo.jpg" />
                            </div>
                            <div class="cell small-6 medium-8 large-7" style="display: flex; align-items:center; justify-content: center;">
                                <p class="role">Full Stack Software Development Intern - <a href="https://web.asignio.com" target="_blank">Asignio</a>, Seattle, WA/Remote Worker</p> <br />
                            </div>
                            <div class="cell small-4 medium-3 large-4 date" style="text-align:right;">
                                Summer 2018, 2019, and 2020
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-11 medium-11 large-11">
                                <ul class="companyDescription">
                                    <li>Passwordless multi-factor authentication startup</li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="offset-1 small-10 medium-10 large-10">
                                <ul>
                                    <li>Used <span class=".NET">.NET Core</span> MVC, <span class="C#">C#</span>, and <span class="SQL">SQL</span> for full-stack development. Created a password keeper and file system for managing user’s passwords and data.</li>
                                    <li>Utilized Git to manage iterations of code and GitHub to collaborate with other team members</li>
                                    <li>Improved security with password encryption algorithms.</li>
                                    <li>Gained experience using <span class="SQL">SQL</span> for storing and retrieving data.</li>
                                    <li>Used Jira software for collaboration with team members and bug/issue management.</li>
                                </ul>


                            </div>


                        </div>

                    </div>



                    <!--Oregon State University-->
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1">
                                <img class="companyImage" src="~/images/oregonState.jpg" />
                            </div>
                            <div class="cell small-6 medium-8">
                                <p class="role">Math Learning Assistant - <a href="https://oregonstate.edu/" target="_blank">Oregon State University</a>, Corvallis, OR/Remote Worker </p>
                            </div>
                            <div class="cell small-4 medium-3 date" style="text-align:right;">
                                January 2021 - June 2021
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="offset-1 small-10 medium-10 large-10">
                                <ul>
                                    <li>Assisted professor with classroom sessions of 60-100 students.</li>
                                    <li>Facilitated discussions for breakout rooms via Zoom.</li>
                                    <li>Responded to online discussion board posts regarding homework questions.</li>
                                    <li>Researched efficacy of synchronous vs asynchronous remote courses.</li>
                                    <ii>Learned about different teaching and learning styles through pedagogy class.</ii>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-11 medium-11 large-11" style="display:flex; align-items:center;">
                                <img class="researchPoster link" data-selector="mathResearchPoster" src="~/images/Math Learning Assistant Image.png" style="width: 100px;" />
                                <p class="researchPoster link" data-selector="mathResearchPoster" style="font-weight: bold; margin-left: 10px;">Math Learning Assistant Research Poster.pdf </p>
                            </div>

                        </div>
                    </div>

                    <!--Oregon State University-->
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1">
                                <img class="companyImage" src="~/images/oregonState.jpg" />
                            </div>
                            <div class="cell small-6 medium-8">
                                <p class="role">Undergraduate Research Assistant - <a href="https://oregonstate.edu/" target="_blank">Oregon State University</a>, Corvallis, OR/Remote Worker </p>
                            </div>
                            <div class="cell small-4 medium-3 date" style="text-align:right;">
                                January 2019 - June 2020
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-10 medium-10 large-10">
                                <ul>
                                    <li>Implemented software to facilitate the integration of additive and subtractive manufacturing processes to enable hybrid manufacturing.</li>
                                    <li>Developed one comprehensive G-code (commands that instruct the printer) for 3D printing and milling using <span class="C++">C++</span> and File I/O.</li>
                                    <li>Designed a GUI using Windows Presentation Foundation and XAML to receive user inputs to construct G-Code.</li>
                                    <li>Presented research at Oregon State University Celebrating Undergraduate Excellence (CUE) fair.</li>
                                    <li>1 of 8 finalists nationally to present my research at the ASME 2019 MSEC conference.</li>
                                </ul>

                            </div>


                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-11 medium-11 large-11" style="display: flex; align-items:center;">
                                <img class="researchPoster link" data-selector="researchPoster"src="~/images/Undergraduate Research Image.png" style="width: 100px;"/>
                                <p class="researchPoster link" data-selector="researchPoster" style="font-weight: bold; margin-left: 10px;">Undergraduate Research Poster.pdf </p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div id="Education">
                <div class="grid-x">
                    <div class="cell small-10 medium-10 large-10">
                        <h3 class="sectionHeader lilita-one-regular">Education</h3>

                    </div>
                    <!--<div class="medium-2 down-arrow">
                        <i id="educationDown" class="fa-solid fa-angle-down"></i>
                    </div>   -->

                </div>
                <div class="experienceDiv" id="educationDiv">
                    <div class="grid-x">
                        <div class="cell small-2 medium-1">
                            <img class="companyImage" src="~/images/oregonState.jpg" />
                        </div>
                        <div class="cell small-6 medium-8">
                            <p class="role">B.S. Computer Science, Cum Laude - Oregon State University</p>
                        </div>
                        <div class="cell small-4 medium-3 date" style="text-align:right;">
                            June 2021
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell offset-1 small-11 medium-11 large-11">
                            <ul>
                                <li>Major: Computer Science | Minor: Mathematics</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>

            <div id="Awards">
                <div class="grid-x">

                    <div class="cell medium-10">
                        <h3 class="sectionHeader lilita-one-regular">Awards</h3>

                    </div>

                </div>
                <div id="awardsDiv">
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/ironman.png" />
                            </div>
                            <div class="cell small-10 medium-11 large-11 awardText" style="font-weight: bold;">
                                <p>2024 California Ironman Finisher</p>
                            </div>
      
                        </div>
                    </div>
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/sigep.png" />
                            </div>
                            <div class="cell small-10 medium-11 large-11 awardText" style="font-weight: bold;">
                                <p>UG Dubach Balanced Man <span class="link linkStyle" id="balancedMan" data-selector="balancedMan">Scholarship</span></p>
                            </div>
                        </div>

                    </div>
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/oregonState.jpg" />
                            </div>
                            <div class="cell small-10 medium-11 large-11 awardText" style="font-weight: bold;">
                                <p>Undergraduate Research Scholarship and the Arts <span class="link linkStyle" data-selector="URSA" id="URSA">(URSA)</span> Engage Award</p>
                            </div>
                        </div>
                    </div>
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/Nike.png" />
                            </div>
                            <div class="cell small-10 medium-11 large-11 awardText" style="font-weight: bold;">
                                <p>1st Place in Nike <span class="link linkStyle" data-selector="nike" id="Nike">Innovation Pitch Competition</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/asf.png" />
                            </div>
                            <div class="cell small-10 medium-11 large-11 awardText" style="font-weight: bold;">
                               <p>Larkworthy Engineering Scholarship </p>
                            </div>
                        </div>
                    </div>

                </div>




            </div>

            <div id="Certifications">
                <div class="grid-x">
                    <div class="cell medium-10">
                        <h3 class="sectionHeader lilita-one-regular">Certifications</h3>
                    </div>
                </div>
                <div id="certificationsDiv">
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/aiare_logo.jpg" />
                            </div>
                            <div class="cell small-10 medium-8 vertical-center awardText" style="font-weight: bold">
                                <p><a href="https://avtraining.org/" target="_blank">AIARE</a> 1 Avalanche Certification </p>
                            </div>
                        </div>
                    </div>
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/padi_logo.jpg" />
                            </div>
                            <div class="cell small-10 medium-8 large-8 vertical-center awardText" style="font-weight: bold">
                                <p><a href="https://www.padi.com/" target="_blank">PADI</a> Open Water Diver </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Volunteering">
                <div class="grid-x">
                    <div class="cell medium-10">
                        <h3 class="sectionHeader lilita-one-regular">Volunteering</h3>
                    </div>
                </div>
                <div id="volunteeringDiv">
                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/oregonState.jpg" />
                            </div>
                            <div class="cell small-6 medium-8 large-8">
                                <p class="role">ResiStore Volunteer</p>
                            </div>
                            <div class="cell small-4 medium-3 date" style="text-align:right;">
                                January 2019 - June 2019
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-11 medium-11 large-11">
                                <ul>
                                    <li>Sold electronic equipment to students and faculty. Gained experience and an understanding of electronic parts and how they can be utilized.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="experienceDiv">
                        <div class="grid-x">
                            <div class="cell small-2 medium-1 large-1">
                                <img class="companyImage" src="~/images/parks-sidebar-logo.png" />
                            </div>
                            <div class="cell small-6 medium-8 large-8">
                                <p class="role"> Youth Basketball Coach</p>
                            </div>
                            <div class="cell small-4 medium-3 date" style="text-align:right;">
                                February 2020 - March 2020
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="cell offset-1 small-11 medium-11 large-11">
                                <ul>
                                    <li>Coached a youth basketball team consisting of 3rd and 4th graders.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell small-1 medium-3 large-3 hidden-on-small">
            <h3 class="lilita-one-regular sectionHeader">Skills:</h3>
            <div class="skill">AJAX</div>
            <div class="skill">C#</div>
            <div class="skill">C++</div>
            <div class="skill" data-selector="css">CSS</div>
            <div class="skill">Java</div>
            <div class="skill">JavaScript</div>
            <div class="skill">jQuery</div>
            <div class="skill">JSON</div>
            <div class="skill">.NET Core</div>
            <div class="skill">SQL</div>     
       
            <p style="color: grey; padding: 10px;">*Tap a skill to highlight in Resume*</p>
            <p class="HTML skillText" style="display:none;"> HTML: Used during my work as a full stack developer for Asignio.</p>
            <p class="Java skillText" style="display:none;">Java: Used in AP Computer Science in High School (2016).</p>
        </div>
    </div>
   
    <div id="toTopButton" data-selector="toTop" style=""><i class="fa-solid fa-angle-up"></i></div>
 </div>
